<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd    
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context-3.2.xsd    
    http://www.springframework.org/schema/aop    
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">



	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/xlc_db"></property>
		<property name="username" value="root"></property>   
		<property name="password" value="admin"></property>   
	</bean>
	
<bean id="springJDBCTemplate" class="com.jujie.xlcms.model.utils.SpringJDBCTemplate" scope="prototype">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
		<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<constructor-arg ref="dataSource"></constructor-arg>
	</bean>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
	<!-- 配置事务传播特性 -->
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="modify*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="submit*" propagation="REQUIRED"/>
			<tx:method name="save*" propagation="REQUIRED"/>
			<tx:method name="edit*" propagation="REQUIRED"/>
			<tx:method name="query*" propagation="REQUIRED"/>
			<tx:method name="find*" propagation="REQUIRED"/>
			<tx:method name="authorize*" propagation="REQUIRED"/>
			<tx:method name="standardized*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	<!-- 哪些类哪些方法使用事务 --> 
 	<aop:config>													
		<aop:pointcut id="allServiceTransaction" expression="execution(* com.jujie.xlcms.model.service.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="allServiceTransaction"/>
	</aop:config>
</beans>